<!DOCTYPE html>
html(lang="en")
  head
    style
      include tailwind.css
    meta(charset="UTF-8")
    link(rel="stylesheet", href="./build/tailwind.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Dreams Organic
  body
    include includes/nav
    